.contact12-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact12-max-width {
  align-self: center;
}
.contact12-content1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact12-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact12-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact12-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.contact12-icon1 {
  width: 24px;
  height: 24px;
}
.contact12-contact-info1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact12-text12 {
  align-self: flex-start;
  text-align: center;
}
.contact12-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.contact12-contact-info2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact12-text13 {
  align-self: flex-start;
  text-align: center;
}
.contact12-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.contact12-contact-info3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact12-text15 {
  align-self: flex-start;
  text-align: center;
}
.contact12-content7 {
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.contact12-iframe {
  width: 100%;
  height: 100%;
}
.contact12-fragment1 {
  display: contents;
}
.contact12-text16 {
  display: inline-block;
}
.contact12-fragment2 {
  display: contents;
}
.contact12-text17 {
  display: inline-block;
}
.contact12-fragment3 {
  display: contents;
}
.contact12-text18 {
  display: inline-block;
}
.contact12-fragment4 {
  display: contents;
}
.contact12-text19 {
  display: inline-block;
}
.contact12-fragment5 {
  display: contents;
}
.contact12-text20 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact12-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .contact12-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
}
